<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    {% block head %}
      <title>Gym Manager</title>
    {% endblock %}
  </head>
  <body>
    <main>
      <header>
        <nav>
          <div>
            <a href="/">Home</a>
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
            <a href="/signin">Sign in</a>
          </div>
        </nav>
      </header>   
      {% block content %}
      {% endblock %}
      <!--<footer>
        <div>
          <p>Todos os direitos reservados, Gym Manager</p>
        </div>
      </footer>-->
    </main>
    {% block scripts %}{% endblock %}
  </body>
</html>