main {
  width: 100%;
  height: 80vh;
  font-family: 'Roboto', sans-serif;
}
#card {
  min-height: 100%;
  max-width: 800px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.4);
  animation: up 900ms;
}
@keyframes up {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
  }
}
section.avatar {
  min-height: 100%;
  width: 100%;
  background: url('https://source.unsplash.com/collection/8969654/900x900') no-repeat center center / cover;
}

/* ==== INFO CARD ==== */
  section.info-card {
    padding: 32px;
  }
  .info-card .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
  }
  .info-card .item:last-child {
    border: none;
  }
  .info-card h3, 
  .info-card .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
  }
  .info-card .item div:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    color: #555;
  }
  .info-card h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(138, 221, 42);
  }
  .info-card .item  span {
    padding: 8px 16px;
    background-color: rgb(125, 236, 22);
    color: #444;
    margin-right: 4px;
    margin-top: 8px;
    border-radius: 16px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
  }

/* ==== FORM ==== */
input {
  width: 100%;
  outline: none;
}
input[type="radio"] {
  width:initial;
  margin-right: 6px;
}