:root {
  --text-color: #111;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* ==== HEADER ==== */
  header {
    border-bottom: 1px solid white;
    padding: 32px;
    height: 90px;
    width: 100%;
    background-color: rgb(138, 221, 42);
    position: relative;
  }
  header nav {
    margin-right: 18px;
    position: absolute;
    right: 0;
  }
  header nav a {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: rgb(80, 80, 80);
    margin-right: 14px;
    font-weight: bold;
    transition: 200ms;
  }
  header nav a:hover {
    color: white;
    opacity: 0.8;
    transition: 100ms;
  }

/* ==== FOOTER ==== */
footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-top: 17px;
  background-color: rgb(216, 216, 216);
  font-family: 'Orbitron', sans-serif;
}
footer div {
  text-align: center;
  color: #111;
  font-size: 13px;
}