{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/instructors.css">
  <title>Instructors</title>
{% endblock %}
{% block content %}
  <main>
    <form id="card" method="POST" action="/instructors">
      <section class="avatar"
      style="background: url('') no-repeat center center / cover;"></section>
      <section class="info-card">       
        <h3>Editar instrutor(a)</h3>

        {% include 'instructors/fields.njk' %}

      </section>
    </form>
  </main>
{% endblock %}