<div class="item">
  <div>Foto</div>
  <div>
    <input type="url" name="avatar_url" placeholder="https://">
  </div> 
</div>

<div class="item">
  <div>Instrutor(a)</div>
  <div>
    <input type="text" name="name" placeholder="Nome" >
  </div> 
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth" >
  </div> 
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span><input type="radio" name="gender" value="M" checked>Masculino</span>
    <span><input type="radio" name="gender" value="F">Feminino</span>
  </div> 
</div>

<div class="item">
  <div>Especialização</div>
  <div>
    <input type="text" name="services"
    placeholder="Digite..." >
  </div> 
</div>

<button type="submit">Salvar</button>