{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/members.css">
  <title>Members</title>
{% endblock %}
{% block content %}
  <main>
    <form class="card" method="POST" action="/members">
      <section class="avatar"
      style="background: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') no-repeat center center / cover;"></section>
      <section class="info-card">
        <h3>Novo(a) Aluno(a)</h3>
        {% include 'members/fields-member.njk' %}
        <a href="/signin"class="button special">Voltar</a>
      </section>
    </form>
  </main>
{% endblock %}