{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/members.css">
  <title>Instructors</title>
{% endblock %}
{% block content %}
<div class="card table-container">
  <table width="100%">
    <thead>
      <tr>
        <th>Membro</th>
        <th>Email</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Card</th>
      </tr>
      <tbody>
        {% for member in members %}
        <tr>
          <td>
            <span style="background-image: url({{ member.avatar_url }});"></span>
            {{ member.name }}
          </td>
          <td>{{ member.email }}</td>
          <td>{{ member.weight }}kg</td>
          <td>{{ member.height }}cm</td>
          <td><a href="/members/{{ member.id }}">Ver</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </thead>
  </table>
</div>
{% endblock %}
{% block scripts %}
  <script src="/instructors.js"></script>
{% endblock %}
